<section class="hero is-dark has-text-centered">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-size-1">Employee Login</h1>
                <i class="fas fa-pizza-slice fa-5x" style="color: white"></i>
            </div>
        </div>
    </section>
<div class="columns">
        <div class="column is-one-quarter"></div>
        <div class="column is-half">
            <div class="field">
                <label class="label">Employee ID</label>
                <div class="control has-icons-left">
                    <input class="input" type="text" placeholder="Employee ID">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
                <br>
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="password" placeholder="Password">
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </p>
                </div>
                <div class="control">
                    <button class="button is-dark">Submit</button>
                  </div>
            </div>
        </div>
        <div class="column is-one-quarter"></div>
    </div>