<section class="hero is-dark has-text-centered">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-size-1">New Employee</h1>
            <i class="fas fa-pizza-slice fa-5x" style="color: white"></i>
        </div>
    </div>
</section>

{{!-- navbar --}}

<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    {{!-- <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a> --}}
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">

      <a class="navbar-item" href="/" d="employee">
        <span>Home</span>
        <span class="icon is-small">
          <i class="fas fa-house-user"></i>
        </span>
        {{!-- <a class="navbar-item" id="track">
          <span>Track</span>
          <span class="icon is-small">
            <i class="fas fa-clock"></i>
          </span>
        </a> --}}
    </div>
  </div>
  </div>
</nav>

<div class="container is-fullhd">
    <div class="column is-one-quarter"></div>
    <div class="column is-half">
        <div class="field">
            <label class="label">Employee first name</label>
            <div class="control has-icons-left">
                <input class="input" type="text" placeholder="First Name Here" id="first_name">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </div>
            <br>
            <div class="field">
                <label class="label">Employee last name</label>
                <div class="control has-icons-left">
                    <input class="input" type="text" placeholder="Last Name Here" id="last_name">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
                <br>
                <div class="field">
                    <label class="label">Desired Password</label>
                    <p class="control has-icons-left">
                        <input class="input" type="password" placeholder="Password" id="newPassword">
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </p>
                </div>
                <br>
                <div class="field">
                    <lablel class="label">Confirm Password</lablel>
                    <p class="control has-icons-left">
                        <input class="input" type="password" placeholder="Password" id="confirmPassword">
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </p>
                </div>
                <div class="control">
                    <button class="sumbit button is-dark" id="submitEmp">Submit</button>
                  </div>
            </div>
        </div>
        <div class="column is-one-quarter"></div>
    </div>
</div>
<script src="/assets/js/newEmployee.js"></script>