<section class="hero is-dark has-text-centered">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-size-1">Pizza Management</h1>
            <i class="fas fa-pizza-slice fa-5x" style="color: white"></i>
        </div>
    </div>
</section>
<br>
<div class="columns">
    <div class="column is-one-quarter">
    </div>
{{!-- Pizza's to edit dropdown menu --}}
    <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
            <button class="button is-rounded is-dark" aria-haspopup="true" aria-controls="dropdown-menu">
                <span>Pizza Orders</span>
                <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
            {{#each pizza}}
            <div class="dropdown-content">
                <a href="/employee/:id" class="dropdown-item pizza" data-id="{{id}}">
                    Pizza ID: {{id}}
                </a>
            </div>
            {{/each}}
        </div>
    </div>

{{!-- Current pizza status --}}
    <div class="column is-one-quarter">
        <div class="box">
            <p>
                <strong id="pizzaId"> Pizza ID</strong>
            </p>
            <p>
                <strong id="pizzaStatus"> Pizza Status</strong>
            </p>
{{!-- pizza status changer dropdown --}}
            <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                    <button class="button is-rounded is-dark" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span>Pizza Status</span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content status">
                        <a href="#" class="dropdown-item" data-stat="1">
                            Starting
                        </a>
                        <a href="#" class="dropdown-item status" data-stat="2">
                            Baking
                        </a>
                        <a href="#" class="dropdown-item status" data-stat="3">
                            Boxing
                        </a>
                        <a href="#" class="dropdown-item status" data-stat="4">
                            Deliverying
                        </a>
                        <a href="#" class="dropdown-item status" data-stat="5">
                            Delivery complete
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
